RewriteEngine on
Options +FollowSymlinks
Options All -Indexes 

RewriteRule ^static/images/(.+) app/data/uploads/images/$1
RewriteRule ^public/(.+) app/public/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?uri=$1 [L,NC]
RewriteRule ^app/data/(storage|tmp|sql)/.*$ index.php?uri=security [L,NC]
RewriteRule ^app/(cli|config|lang|libs|models|scripts|sites)/.* index.php?uri=security [L,NC]
RewriteRule ^core/(.*)$ index.php?uri=security [L,NC]

<Files ~ "\.(rar|zip)$">
   order deny,allow
   deny from all
</Files>

